/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
  font-size: 1.1rem;
  color: #222;
  background-color: white;
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}
